{% extends 'base.html' %}
{% block content %}
<div class="container-fluid bg-5 text-center">
  <h3 class="margin">Who Am I?</h3>
  {% load static %}
  <img src="{% static 'blogs/images/img.png' %}" class="img-responsive img-circle margin" style="display:inline" alt="myicon2.jpg" width="350" height="350"/>
  <h3>I'm an engineer</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">What Am I?</h3>
  <p>I'm a 16-year-old django-backend engineer, determant on building great technology: Web-apps, sites and websites - I do it all. More so, I'm helbent to protect user privacy and strive to bring about change every day. I live to make an impact globally, on heights nobody could've, can, or will ever imagine.</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-5 text-center">    
  <h3 class="margin">What I stand for? Privacy.</h3><br>
  <div id="player">
    
    <script>
      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');
      
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      
      // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '320',
            width: '480',
            videoId: 'GGpCAhA2wQQ',
            events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
            }
          });
      }
      
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }
      
      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        
      }
      function stopVideo() {
        player.stopVideo();
      }
      // rotating cards of me and my missions 
      </script>
    </div>
</div>

{% endblock %}